#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.cart-container{
  display:flex;
  column-gap:1rem;
  align-items:center;
  justify-content:center;
}
.reset-container{
  display:flex;
  column-gap:1rem;
  justify-content:center;
  margin-bottom:1rem;
}
.item-container{
  display:flex;
  column-gap:1rem;
  justify-content:center;
}
.zero{
  width:8ch;
}
